@use "global" as *;

// drawer button
.js-drawer {
    display: block;
    width: rem(50);
    padding-top: rem(50);
    position: absolute;
    top: 0;
    right: rem(20);
    background: rgba(255, 0, 0, 1);
}

.js-drawer>span {
    display: block;
    width: 100%;
    padding-top: rem(3);
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.js-drawer>span::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: rem(3);
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: rem(-13);
    transition: 0.3s;
}


.js-drawer>span::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: rem(3);
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: rem(13);
    transition: 0.3s;
}

// js-drawer click時の動作
.js-drawer-open>span::before {
    transform: rotate(45deg);
    transform-origin: center;
    top: 0;
}

.js-drawer-open>span {
    background: rgba(255, 255, 255, 0);
}

.js-drawer-open>span::after {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 0;
}